# Simple workflow for deploying static content to GitHub Pages
name: Github Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Install Flutter
        uses: subosito/flutter-action@v2.8.0
        with:
          channel: stable
          cache: true
      - name: Flutter version
        run: flutter --version
      - name: Install melos
        run: dart pub global activate melos
      - name: Setup melos
        run:  melos bootstrap
      - name: Install dependencies
        run: melos deps
      - name: Build example
        run: |
          cd packages/flutter_box_transform/example
          flutter build web
      - name: Build contents
        run: ls -la packages/flutter_box_transform/example/build/web
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: /packages/flutter_box_transform/example/build/web
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
